##Overview

Dear Learner, 

Congratulations, you have studied Python all the way through the end of this bootcamp!!! This is the final graded hands-on exercise where you will be accomplishing the below mentioned task.

Authors: Albana Celepija, Vinayak Deshpande

###Task 1

We have declared a tuple containing five same elements as following:
T = (‘python’, ‘python’, ‘python’, ‘python’, ‘python’).
Re-write the same code in an optimal/simple way that fetches the same result.

In [19]:
print(("'python' ") * 5)

'python' 'python' 'python' 'python' 'python'

###Task 2

Write code to print characters from a string that are present at an even index number.
For example, if your input string is "python", the output characters will be (p,t,o).

In [20]:
user_input = [input("enter a string to print characters that are present at an even index number: ")]
for i in user_input:
    print (i[0: :2])

enter a string to print characters that are present at an even index number: python
pto

### Task 3

Write a function that calculates the average of the elements of the list: 

elements = [5, 7, 4, 9, 2]

In [12]:
def average():
    elements = [5, 7, 4, 9, 2]
    print (sum(elements)/len(elements))
average()

5.4

### Task 4
Write code to find if the given year is a leap year or not.

In [ ]:
user_input = int(input("enter the year to determine if its a leap year or not: "))
if user_input % 4 == 0:
    print(str(user_input) + " is a leap year")
    
else:
    print(str(user_input) + " is not a leap year")

### Task 5
Given a list of numbers (integers), find the sum of second maximum and second minimum in the following list.

l = [21, 6, 12, 57, 35, 61]

In [16]:
L = [21, 6, 12, 57, 35, 61]
sorted(L)[-2] + sorted(L)[1]

69

##Scores

Each of the tasks is of 2 mark each and the scores will be given accordingly after the notebook review.